html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 20 px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

p {
  font-size: 18px;
  color: #333;
}

body {
  background-color: #f4a4c0;
}

.song-img {
  width:500px;
  height:auto;
}

.img2 {
  width:550px;
  height:auto;
}

.img3 {
  width:500px;
  height:auto;
}

.img4 {
  width:600px;
  height:auto;
}

.img5 {
  width:500px;
  height:auto;
}